
body {
  background-color: lightblue;
}

h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

